discord:
    TOKEN:

databases:
    default: discord
    discord:
        driver: sqlite
        host: 
        database: bot\database\discord.db
        user: 
        password: 
        prefix: 
        log_queries: True
  
config:
  utils:
    bot_logging: True
    bot_settings: True
    bot_utils: True
  logging_mode: 'w'
