discord:
  TOKEN:

databases:
    default: discord
    discord:
        driver: sqlite
        host: 
        database: bot\database\discord.db
        user: 
        password: 
        prefix: 
        log_queries: True
  
